<%- include('header') %>

<div id="main-about">
  <h1 id="about-title">IDEA</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore sit itaque
    numquam molestias, nemo unde necessitatibus laboriosam beatae explicabo
    dolorem ab ullam excepturi inventore nesciunt deserunt tenetur officia!
    Voluptates modi quam totam eveniet dignissimos velit, aut vitae quaerat et
    libero, esse quia temporibus fugit a reiciendis, qui dolor perferendis
    similique?
  </p>
  <p>Currently, the club comprises six distinct roles: <em>Hover on each image!</em></p>
  <div id="roles-container">
    <div class="role-container">
        <div class="role-name">President</div>
        <div>Zhenqiao Wang (Michelle)</div>
        <div><a href="https://www.linkedin.com/in/z-michelle-w/" target="_blank"><img src="./images/adminRolesProfiles/michellewang.png" alt="" width="100px"></a></div>
    </div>
    <div class="role-container">
        <div class="role-name">Vice President</div>
        <div>Irin Cibi</div>
        <div><a href="https://www.linkedin.com/in/irincibi/" target="_blank"><img src="./images/adminRolesProfiles/irincibi.jpeg" alt="" width="100px"></a></div>
    </div>
    <div class="role-container">
        <div class="role-name">Admin Officer</div>
        <div>Dahye Lee</div>
        <div><a href="https://www.linkedin.com/in/dahye213/"  target="_blank"><img src="./images/adminRolesProfiles/dahyelee.jpeg" alt="" width="100px"></a></div>
    </div>
    <div class="role-container">
        <div class="role-name">Web Developer</div>
        <div>Ariel Chau Zhou</div>
        <div><a href="https://www.linkedin.com/in/arielchau/" target="_blank"><img title="Hi, I love to watch anime. Let's connect!" src="./images/adminRolesProfiles/arielchau.jpeg" alt="" width="100px"></a></div>
    </div>

    <div class="role-container">
        <div class="role-name">Social Media Coordinator</div>
        <div>Nanjin Wang (Claudia)</div>
        <div><a href="https://www.linkedin.com/in/nanjin-wang-319773237/" target="_blank"><img src="./images/adminRolesProfiles/claudiawang.jpg" alt="" width="100px"></a></div>
    </div>
    <div class="role-container">
        <div class="role-name">PR Coordinator</div>
        <div>Thuan An Quan (Anson)</div>
        <div><a href="https://www.linkedin.com/in/anson-quan/" target="_blank"><img src="./images/adminRolesProfiles/ansonquan.jpg" alt="" width="100px"></a></div>
    </div>
    <div class="role-container">
        <div class="role-name">Advisor</div>
        <div>Aderson Oliveira</div>
        <div><a href="https://www.linkedin.com/in/adersonoliveira/" target="_blank"><img src="./images/adminRolesProfiles/aderson.jpeg" alt="" width="100px"></a></div>
    </div>
    <div class="role-container">
        <div class="role-name">Advisor</div>
        <div>Asam Gulaid</div>
        <div><a href="https://www.linkedin.com/in/asamgulaid/" target="_blank"><img src="./images/adminRolesProfiles/asamgulaid.jpeg" alt="" width="100px"></a></div>
    </div>
  </div>

</div>

<%- include('footer') %>
