<%- include('header') %>

<div id="main-contact">
    <h1>Get In Touch</h1>
        <div id="contact-container">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZMQDrFFLGr_XUXwYwhFkbW5ImlQ5sv-VaX5OCm0VB9Sa5vw/viewform?embedded=true" width="700" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
</div>

<%- include('footer') %>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./javascript/script2.js"></script>
</body>
</html>