<%- include('header') %>

<div id="main-events">
    <h2>Upcoming Events</h2>
    
    <div id="events-container">
        <div class="events-row">
            <div class="events-column">
                <img />
                <h2>IDEA Networking Event</h2>
                <p>test text</p>
            </div>
            <div class="events-column">
                <img />
                <h2>Test</h2>
                <p>test text</p>
            </div>
        </div>
    </div>

    <h2>Past Events</h2>
    
    <div id="events-container">
        <div class="events-row">
            <div class="events-column">
                <div class="img-fill">
                    <img src="./images/eventPosters/Resume-Workshop-W2024.png"/>
                </div>
                <h2>IDEA Resume Workshop</h2>
                <p>
                    Join us for a Resume Workshop where we bring you insider tips 
                    and industry secrets from a seasoned professional. 
                    Our guest speaker, a former Amazon engineer, 
                    will share invaluable insights into the industry standards for crafting 
                    a standout resume. Learn the dos and don'ts that can make all the difference 
                    in catching the eye of potential employers.
                    We recommend you bring your resumes along for a hands-on experience.
                </p>
                
            </div>
            <div class="events-column">
                <div class="img-fill">
                    <img src="./images/eventPosters/Co-op-AMA-W2024.png"/>
                </div>
                <h2>IDEA Co-op AMA</h2>
                <p>
                    Come and chat with current co-op students and gain insights and tips on 
                    how to navigate the local tech industry. For this event, we'll open the floor to 
                    students to ask questions regarding the co-op process at Centennial College, 
                    application and interview processes, and how to get the most out of any co-op experience.</p>
            </div>
            <div class="events-column">
                <div class="img-fill">
                    <img src="./images/eventPosters/Co-op-AMA-F2023.jpg"/>
                </div>
                <h2>IDEA Co-op AMA</h2>
                <p>
                    Come and chat with current co-op students and gain insights and tips on how to navigate the local tech industry. 
                    For this event, we'll open the floor to students to ask questions regarding the co-op process at Centennial College, 
                    application and interview processes, and how to get the most out of any co-op experience.
                </p>
            </div>
            <div class="events-column">
                <div class="img-fill">
                    <img src="./images/eventPosters/Wordle-Workshop-S2023.JPG"/>
                </div>
                <h2>IDEA Wordle Workshop</h2>
                <p>
                    Wordle is a web-based word game where players have 6 attempts to guess a 5 letter word. 
                    Join us to create a simple Wordle clone from scratch or challenge yourself and create it via our pseudocode.</p>
            </div>
        </div>
    </div>
     
</div>



<%- include('footer') %>
