<%- include('header') %>


<div id="main-faq">
    <details>
        <summary>1. Could you provide information about the IDEA club and its acronym?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details>
        <summary>2. How can I become a member of the club, and are there any prerequisites for entry?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details>
        <summary>3. What varieties of activities are available for participation?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details>
        <summary>4. Is it possible for me to attain an administrative role in the future?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details>
        <summary>5. How may I get in touch with your team?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

</div>

<%- include('footer') %>