<%- include('header') %>


<div id="main-faq">
    <h1>Frequently Asked Questions (FAQs)</h1>

    <details class="question-box" id="question1-box">
        <summary><span class="icon"></span>What is IDEA?</summary>
        <div>
            IDEA stands for Innovative Developers and Engineers Association. 
        </div>
    </details>

    <details class="question-box" id="question2-box">
        <summary><span class="icon"></span>Q2. How can I become a member of the club, and are there any prerequisites for entry?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details class="question-box" id="question3-box">
        <summary><span class="icon"></span>Q3. What varieties of activities are available for participation?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details class="question-box" id="question4-box">
        <summary><span class="icon"></span>Q4. Is it possible for me to attain an administrative role in the future?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

    <details class="question-box" id="question5-box">
        <summary><span class="icon"></span>Q5. How may I get in touch with your team?</summary>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni minima laborum facilis quasi ipsa tenetur aliquam illum perspiciatis. Beatae deserunt recusandae quis. Qui sapiente nesciunt exercitationem hic. Cupiditate illum quisquam, hic, fuga dolorum voluptatum impedit nesciunt minus accusantium, voluptatem dolores aut! Nihil accusamus ducimus quae quam saepe voluptatibus possimus!
        </div>
    </details>

</div>

<%- include('footer') %>
<script src="./javascript/script3.js"></script>