<div id="footer">
  <div>

    <div>
      <p id="footer-title">IDEA</p>
      <p id="footer-body">
        Feel free to
        sign up whenever you want to join this journey with many other
        software engineer students.
      </p>
    </div>
        
    <div class="center-container">
      <div id="social-icons">
        <div>
          <a href="mailto:idea-innovativedevelopersandengineersassociation@centennialcollegeedu.onmicrosoft.com" title="mail us"><i class="fa-solid fa-envelope"></i></a>
        </div>

        <div>
          <a href="https://www.instagram.com/idea_ccsai/" title="instagram page" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
            
        <div>
          <a href="faq" title="faq page"><i class="fa-solid fa-circle-question"></i></a>
        </div>

        <div>
          <a href="" title="sign in"><i class="fa-solid fa-right-to-bracket"></i></a>
        </div>
      </div>
    </div>

    <div id="copyright-message">Copyright © 2023 IDEA. All rights reserved by IDEA.</div>
  </div>
</div>
    