<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Oswald:wght@500&family=Poppins:wght@200;600&family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="navigation-bar">
      <img id="image-logo" src="./images/idea-logo3.png" />
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="events">Events</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="faq">FAQ</a></li>
        <!--<li><a href="join">Join Club</a></li>
        <li><a href="signin">Sign in</a></li>-->
      </ul>
      <hr />
      <!--<button id="join-button" class="btn" >Become a Member</button>-->
      <div class="header-container">
      <div id="header-social-icons">
        <div>
          <a href="mailto:idea.ccsai@gmail.com" title="mail us"><i class="fa-solid fa-envelope"></i></a>
        </div>

        <div>
          <a href="https://www.instagram.com/idea_ccsai/" title="instagram page" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div>
          <a href="https://github.com/IDEA-CCSAI" title="GitHub"><i class="fa-brands fa-github"></i></a>
        </div>
        <div>
          <a href="faq" title="faq page"><i class="fa-solid fa-circle-question"></i></a>
        </div>

        
      </div>
    </div>
      
    </div>