<!DOCTYPE html>
<html>
  <head>
  
  <title><%= title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Oswald:wght@500&family=Poppins:wght@200;600&family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="navigation-bar">
        <img id="image-logo" src="./images/IT Club's Logo.png">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="join">Join Club</a></li>
          <li><a href="signin">Sign in</a></li>
        </ul>
        <hr>
      </div>
      

      <div id="main">
        <div id="box-one">
          <div id="title">IDEA</div>
          <div>
            <p>
              <span class="name-group">Innovative Developers and Engineers Association (IDEA)</span>  is a student organization that aims to create a collaborative, innovative, and social space for 
              students to connect and grow. Students can share their knowledge, improve their skills, network, learn about career options, and keep up with the 
              latest developments in software engineering.
             </p>
          </div>
          <div>
            <button id="button-Start"><a href="/">Start</a></button>
            <button id="button-ContactUs"><a href="contact">Contact Us</a></button>
          </div>
        </div>
          
        <div id="box-two">
          <img id="image-pic" src="./images/index-pic1_preview_rev_1.png" width="650">

        </div>
        
      </div>

      <div id="about-us">
        <div id="box-one">
          <!--Image-->
          
        </div>
          
        <div id="box-two">
          <!--Infromation-->
          <div>
            <p>Hello</p>
          </div>
        </div>

      </div>

      <div id="footer">
        <p>This is the footer</p>
      </div>
  </body>
</html>
