<%- include('header') %>
  <div id="main-top" class="main-top">
    
    <div id="main">
      
      <div id="box-one">
        
        <div>
          <div id="title" class="title">Innovative Developers and Engineers Association</div>
          <p id="intro" class="intro">
            Where ideas collide and innovation thrives. Explore boundless horizons 
            and code the future with us.
          </p>
        </div>
        <div id="join-container" class="join-container">
          <a href="join" id="join-button" class="btn" >Become a Member</a>
        </div>
      </div>
      
      <div id="box-two">
        <img
          id="image-pic"
          src="./images/index-pic1_preview_rev_1.png"
          width="600"
        />
      </div>
    </div>

    <div id="about-us">
      <div id="about-us-one">
        <div id="box-one">
          <!--Image-->
          <div>
            <img id="image-pic-about" src="./images/aboutimg.png" width="500" />
          </div>
        </div>

        <div id="box-two">
          <div id="who-container">
            <h1>Who We Are</h1>
            <p>
              A student-run technology club, dedicated to creating a 
              collaborative, innovative, and welcoming social space for students
              at Centennial College to connect, learn, and grow. 
            </p>
            <p>
              Our club values diversity, creativity, and continuous learning. 
              We empower our members to pursue their interests and make meaningful contributions 
              to the tech community and beyond.
            </p>
          </div>
          <div id="what-container">
            <h1>What We Do</h1>
            <p>
              Through our engaging events and workshops,
              we provide hands-on training, practical insights, and the resources needed 
              to excel in the tech industry.
              We also prioritize the development of essential soft skills
              through networking events, co-op panels, and
              community building events.
            </p>
            <p>
              These opportunities allow students to gain insights into various career paths, 
              build valuable connections, and explore diverse interests.
            </p>
          </div>
          <button id="previous"><i class="fa-solid fa-arrow-left"></i></button>
          <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>

    <div id="upcoming-events-container">
      <h1>Upcoming Events</h1>
      <div id="container-two">
        <!--<p>
          We are currently working on new and exciting events for this semester.
          Stay tuned!
        </p>-->
      </div>
      <div id="upcoming-events">
        <a href="https://forms.gle/P7PhTwRyK13cYk9L6">
          <img id="upcoming-events" src="./images/eventPosters/IDEA-Networking-Event-Poster.jpg" />
        </a>
      </div>
    </div>
  </div>
    <%- include('footer') %>
  </body>
  <script type="text/javascript" src="./javascript/script1.js"></script>
</html>
<!-- dummy text -->