<!DOCTYPE html>
<html>
  <head>
  
  <title><%= title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Oswald:wght@500&family=Poppins:wght@200;600&family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="navigation-bar">
        <img id="image-logo" src="./images/IT Club's Logo.png">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="join">Join Club</a></li>
          <li><a href="signin">Sign in</a></li>
        </ul>
      </div>

      <div id="main">
        <div id="box-one">IDEA</div>
        <div id="box-two">Box two Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo animi inventore, labore quasi placeat fuga eligendi laboriosam ullam. Assumenda doloribus voluptate quam doloremque! Facilis quibusdam aliquam veritatis iste dolorem, fugit architecto expedita voluptates. Provident eligendi deserunt aliquam aut ratione magni neque fuga, illum exercitationem id facilis ut officiis reprehenderit excepturi, cum dolorem, autem hic voluptate aspernatur quisquam accusantium pariatur commodi iure? Ex fuga ut deserunt voluptatibus ratione sunt, impedit dignissimos. Blanditiis cum nihil iste, pariatur distinctio sed aliquid enim obcaecati? Quia eius sed rerum! Odit delectus saepe optio rerum totam sed ab fuga deserunt mollitia animi libero alias, earum officia.</div>
        
      </div>

      <div id="footer">
        <p>This is the footer</p>
      </div>
  </body>
</html>
