<%- include('header') %>
    <div id="main">
      <div id="box-one">
        <div id="title">IDEA</div>
        <div>
          <p>
            <span class="name-group"
              >Innovative Developers and Engineers Association (IDEA)</span
            >
            is a student organization that aims to create a collaborative,
            innovative, and social space for students to connect and grow.
            Students can share their knowledge, improve their skills, network,
            learn about career options, and keep up with the latest developments
            in software engineering.
          </p>
        </div>
        <div>
          <button id="button-Start"><a href="/">Start</a></button>
          <button id="button-ContactUs">
            <a href="contact">Contact Us</a>
          </button>
        </div>
      </div>

      <div id="box-two">
        <img
          id="image-pic"
          src="./images/index-pic1_preview_rev_1.png"
          width="650"
        />
      </div>
    </div>

    <div id="about-us">
      <div id="about-us-one">
        <div id="box-one">
          <!--Image-->
          <div>
            <img id="image-pic-about" src="./images/aboutimg.png" width="500" />
          </div>
        </div>

        <div id="box-two">
          <div id="mission">
            <h1>Mission Statement</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              nesciunt ducimus voluptatem blanditiis rem, praesentium facere
              repellat, voluptas in culpa, dolor doloribus nam. Officia cumque
              non, omnis distinctio laborum, libero numquam vero ex, enim
              commodi minima expedita asperiores incidunt nam nihil magni
              pariatur quaerat quos eum labore aliquid assumenda doloribus.
            </p>
          </div>
          <div id="vision">
            <h1>Vision Statement</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              repellendus repellat accusamus eveniet ex ea asperiores? Pariatur
              doloremque perspiciatis itaque vitae eum ad, nihil illo cupiditate
              delectus ab deleniti dolorum eaque, nulla in ipsum dignissimos
              quidem magnam voluptates impedit quibusdam officiis quis! Dolor
              laudantium eos est amet repellat tempora quasi!
            </p>
          </div>
          <button id="previous"><i class="fa-solid fa-arrow-left"></i></button>
          <button id="next"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>

      <div id="about-us-two">
        <h1 id="benefit-title">What benefits will it have on our students?</h1>

        <div id="container-one">
          <div>
            <h3>Skills Development</h3>
            <p>
              Students can improve their technical skills, soft skills, and gain
              hands-on experience by participating in coding projects,
              hackathons, workshops, and other activities organized by the club.
            </p>
          </div>
          <div>
            <h3>Co-op, Internship, and Career Exploration</h3>
            <p>
              Our Executive and Founding members have co-op and internship
              experiences within various tech fields. Through IDEA Chats,
              workshops, and talks by industry professionals, students can gain
              insights into various co-ops, internships, and career paths within
              software engineering which can help them make informed decisions
              about their future career goals.
            </p>
          </div>
          <div>
            <h3>Networking Opportunities</h3>
            <p>
              Joining our club can help students build relationships with other
              students who share their interests, as well as with industry
              professionals who may be invited to speak at club events. These
              connections can be valuable for finding internships, job
              opportunities, and other career-related opportunities
            </p>
          </div>
          <div>
            <h3>Leadership and teamwork experience</h3>
            <p>
              Students have the opportunity to develop leadership and teamwork
              skills by taking on responsibilities such as organizing events,
              leading projects, and collaborating with others
            </p>
          </div>
          <div>
            <h3>Portfolio building</h3>
            <p>
              Participating in club projects or creating personal projects with
              the help of the club can allow students to showcase their skills
              and add to their professional portfolio.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="most-current-activities">
      <h1>Most Current Activities</h1>
      <div id="container-two">
        <div>AMA - Ask Me Anything</div>
        <div>Coding Workshop</div>
        <div>Monthly Meetings</div>
        <div>And More+</div>
      </div>
    </div>

    <%- include('footer') %>
  </body>
  <script type="text/javascript" src="./javascript/script1.js"></script>
</html>
