<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">

      <div id="navigation-bar">
  
          
              <p>hellooooooooo, test test</p>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="contact">Contact Us</a></li>
                  <li><a href="projects">Projects</a></li>
                  <li><a href="faq">FAQ</a></li>
                  <li><a href="join">Join Club</a></li>
                  <li><a href="signin">Sign in</a></li>
              </ul>
          
  
      </div>
  
      <div id="title-section">
          <p>This is where the title will go</p>
          <h1><%= title %></h1>
      </div>
      <div id="main-body"> 
          <p>This is where the body will go</p>
      </div>
      <div id="footer-bar">
          <p>This is where the footer will go</p>
      </div>
  </div>
  </body>
</html>
