<%- include('header') %>

<div id="main-join">
    <div>
        <p>Welcome to IDEA Club — a community of innovation, collaboration, and limitless possibilities. We invite you to join us on a journey where ideas flourish, and creativity knows no bounds.</p>
        
    </div>
    <div>
        <a href="">Join IDEA Club Now</a>
    </div>
    
</div>

<%- include('footer') %>