<%- include('header') %>



<div id="main-join">
    <div>
        <h1>Welcome to IDEA Club</h1>
        <p><b>A community of innovation, collaboration, and limitless possibilities. <br> We invite you to join us on a journey where ideas flourish, and creativity knows no bounds.</b></p>
        
    </div>
    <div>
        <button><a href="">Join IDEA Club</a></button>
        
    </div>
</div>
<%- include('footer') %>