<%- include('header') %>



<div id="main-join">
    <div>
        <h1>Become a Member of IDEA</h1>
        <p><b>A community of innovation, collaboration, and limitless possibilities. <br> We invite you to join us on a journey where ideas flourish, and creativity knows no bounds.</b></p>
        
    </div>
    <div id="registration-container" class="registration-container">
        <iframe id="registration-form" class="registration-form" src="https://docs.google.com/forms/d/e/1FAIpQLSdxWO2uMkskqscX3tDl0j-1lmItcsJcoaeoBbDoNoTty2N8qA/viewform?embedded=true" width="700" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
<%- include('footer') %>