<%- include('header') %>

<div id="main-project">
    <p>IDEA PROJECTS</p>
    <p>Exiting projects are in the pipeline! Stay tuned as we're gearing up to bring you innovative and inspiring creations soons.</p><br><br>
    <img src="./images/work-post.gif" alt="gif" width="200" style="border-radius: 10px;">
</div>

<%- include('footer') %>
