<%- include('header') %>

<div id="main-project">
    <h1>IDEA PROJECTS</h1>
    <p><b>Exiting projects are in the pipeline! Stay tuned as we're gearing up to bring you innovative and inspiring creations soons!</p></b><br>
    <img src="./images/work-post.gif" alt="gif" width="400" style="border-radius: 10px;">   
</div>



<%- include('footer') %>
