<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@200;600&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div id="main">

        <div id="navigation-bar">
    
            
                <p><img id="image-logo" src="./images/IT Club's Logo.png"></p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="join">Join Club</a></li>
                    <li><a href="signin">Sign in</a></li>
                </ul>
            
    
        </div>
        <hr class="thicker-hr">
    
        <p>Future implementation...</p>
    </div>
</body>
</html>