<%- include('header') %>

<div id="main-signin">
    <h1>Sign In page</h1>
    <img id="maintenance-img" src="./images/hogwarts-maintenance.gif" alt="">
</div>

<%- include('footer') %>
</body>
<script type="text/javascript" src="./javascript/script1.js"></script>
</html>