body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navigation-bar {
  margin: 0;
  display: flex;
  align-items: center; /* Vertically align items in the navigation bar */
  justify-content: flex-start; /* To evenly space the navigation items */
  background-color: white; /* Optional background color for the navigation bar */
  padding: 10px; /* Optional padding for spacing */
  
  margin-bottom: 0px;
  border-style:inherit;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;


  
  
  
}
#image-logo {
  margin-right: 40px; /* Add some spacing between the logo and navigation items */
  max-height: 60px; /* Set a maximum height for the logo */
  
  margin-left: 20px;
  border-radius: 50%;
}

#navigation-bar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  display: flex;

}
ul{
  
}
#navigation-bar li {
  margin: 0 18px; /* Add some spacing between each navigation item */
}

#navigation-bar a {
  text-decoration: none;
  color: black; /* Text color for the links */
 
  
}
#navigation-bar li :hover{
  text-decoration: underline;
  text-decoration-color: purple ;
  text-underline-offset: 5px;
  
  
  
}
#navigation-bar a {
  
  text-underline-offset: 0.6em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
 
  
}
#navigation-bar a:hover {
  text-decoration-color: purple;
  text-underline-offset: 0.4em;
 
  
}



#main{
  margin: 0;
  background-color: rgb(245,236,228);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between; /* Distribute space between the boxes */
  


}
#box-one{
  flex-basis: 60%;
  background-color: aqua;
  padding-right: 10px;
}

#box-two {
  flex-basis: 40%; /* Set each box to take 50% width with some margin in between */
  background-color: #f0f0f0; /* Background color for the boxes */
  padding: 10px; /* Add padding to the boxes */
}



#footer{
  border:  1px solid green;
}