body {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

#navigation-bar {
  margin: 0;
  display: flex;
  align-items: center; /* Vertically align items in the navigation bar */
  justify-content: flex-start; /* To evenly space the navigation items */
  background-color: white; /* Optional background color for the navigation bar */
  padding: 10px; /* Optional padding for spacing */
  
  margin-bottom: 0px;
  border-style:inherit;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 17px;


  padding-left: 50px;

  
  border-bottom: 1px solid black
  
  
  
}
#image-logo {
  margin-right: 40px; /* Add some spacing between the logo and navigation items */
  max-height: 60px; /* Set a maximum height for the logo */
  
  margin-left: 20px;
  border-radius: 50%;
}

#navigation-bar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
  display: flex;

}
ul{
  
}
#navigation-bar li {
  margin: 0 18px; /* Add some spacing between each navigation item */
}

#navigation-bar a {
  text-decoration: none;
  color: black; /* Text color for the links */
 
  
}
#navigation-bar li :hover{
  text-decoration: underline;
  text-decoration-color: purple ;
  text-underline-offset: 5px;
  
  
  
}
#navigation-bar a {
  
  text-underline-offset: 0.6em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
 
  
}
#navigation-bar a:hover {
  text-decoration-color: purple;
  text-underline-offset: 0.4em;
 
  
}



#main{
  margin: 0;
  background-color: rgb(245,236,228);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between; /* Distribute space between the boxes */
  
  padding-left: 50px;
  padding-right: 80px;

}
#box-one{
  flex-basis: 60%;
  
  padding-right: 10px;
  
  padding: 20px;
  padding-top: 30px;
}

#box-two {
  flex-basis: 40%; /* Set each box to take 50% width with some margin in between */
  padding: 10px; /* Add padding to the boxes */
}



#footer{
 
}

#main #box-one #title{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(236,179,47);
  font-size: 60px;
  text-align: center;
  font-weight:900;

}
#main #box-one div p{
  padding-top: 20px;
  padding-bottom: 65px;
  font-size: 17px;
}
.name-group{
  color: purple;
  font-weight: bold;
}

div button{
  font-size: 20px;
  padding: 4px;
  
  width: 115px;
  margin-right: 5px;
  cursor: pointer;
}
div button a{
  text-decoration: none;
}
div #button-Start{
  
  background-color: purple;
  border: 1px solid black;
  border: none;
  border-radius: 3px;
}
div #button-Start a{
  
  color: white;
  
}
div #button-ContactUs{
  
  border: none;
  border-radius: 3px;
  border: 1px solid purple;
  
}
div #button-ContactUs a{
  
  color: purple;
  
}

#about-us{
  background-color: purple;
}

#about-us #box-one{
  border: 1px solid black;
  
}
#about-us #box-two{
  border: 1px solid green;
}
