html, body {
  height: 90%;
  margin: 0;
  padding: 0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Oswald', sans-serif;

}

body {
  background-image: url('../images/anotherbackground2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#main{
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
a {
  color: #00B7FF;
}
#navigation-bar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  align-items: center;
}

#navigation-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items horizontally */
  flex-direction: row; /* Set the direction to horizontal */
}

#navigation-bar p {
  margin-right: auto; /* Push the <p> element to the far left */
}

#navigation-bar li {
  margin-right: 10px; /* Add margin between list items (adjust as needed) */
  font-weight: 800;
}

#navigation-bar a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

#navigation-bar a:hover {
  color: rgb(107, 35, 184);
  text-decoration: underline;
}
#image-logo{
  color: rgb(107, 35, 184);
  font-weight: 800;
}

#title-section{
  
}
#main-body{
 
}
#footer-bar{
  
}
.thicker-hr{
  border: none;
  border-top: 2px solid rgb(107, 35, 184);; /* Adjust the width here (2px in this example) */
  height: 10px; 
}